.headerAbout {
  text-align: center;
}

.aboutMyself {
  padding-top: 5%;
  font-size: 20px;
  text-justify: auto;
  text-align: center;
  text-decoration: none;
  color: azure;
}

p h5 {
  color: "#D8DEE9";
}
